* {
  font-family: "Patrick Hand", cursive !important;
}
body {
  color: #d4ecdd;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #112031;
}
.notify {
  position: absolute;
  z-index: 1;
}
.fixedBar {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80px;
}
.hangUp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 20px;
  background-color: #ff7878;
}
.callButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 20px;
}
.copyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #4db6ac;
  border: 2px solid black;
}
.editButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e0c097;
  border: 2px solid black;
  margin-right: 20px;
}
.inputModal:focus {
  outline: none;
}
.inputModal {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #eceff1;
  font-size: 18px;
  padding-left: 10px;
  margin: 5px;
}
